/*Root*/

:root {
  --basic-red: #ee3643;
  --dark-red: #ca2c37;
  --basic-green: #63a63e;
  --dark-green: #5fbb2d;
  --deep-green: #518534;
  --light-grey: #eaeaea;
  --basic-grey: #3d546f;
  --grey-blackberry: #405069;
  --basic-greylight: #c5c5c5;
  --basic-background: #f1f5f7;
  --light-grey-background: #f3f7f9;
  --middle-grey: #32425c;
  --dark-grey: #293449;
  --white: #ffffff;
  --black: #000000;
  --black-opacity-0-24: rgba(0, 0, 0, 0.24);
  --black-opacity-0-15: rgba(0, 0, 0, 0.15);
  --beige: #f9f5f0;
  --dark-beige: #f7f3ec;
  --special-red: #ba2732;
  --special-yellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
  --special-greenlight: #8ed78f;
  --special-yellowlight: #ffd180;
}

/*Global*/

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans/ptsans-400-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/firasans/firasans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


img {
  max-width: 100%;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page-body {
  display: flex;
  flex-direction: column;
  min-width: 1200px;
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-grey);
  background-color: var(--white);
}

.main-container {
  flex-grow: 1;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

/*Input*/

.input {
  padding: 12px 14px;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-grey);
  background-color: transparent;
  border: 1px solid var(--basic-grey);
  border-radius: 2px;
}

.input::placeholder {
  color: var(--basic-greylight);
}

.input:hover {
  border-color: var(--basic-green);
}

.input:focus {
  outline: 1px solid var(--special-yellow);
}

.input.error {
  border-color: var(--basic-red);
}

.input:hover.error {
  outline: 1px solid var(--basic-red);
}

.input:disabled {
  background-color: var(--basic-background);
  border-color: var(--basic-greylight);
  opacity: 0.5;
}

/*Buttons*/

.button {
  padding: 11px 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 2px;
  border: 2px solid transparent;
  cursor: pointer;
}

.button-primary {
  color: var(--white);
  background-color: var(--basic-green);
}

.button-primary:hover {
  background-color: var(--dark-green);
}

.button-primary:active {
  background-color: var(--deep-green);
}

.button-secondary {
  color: var(--white);
  background-color: var(--basic-red);
}

.button-secondary:hover {
  background-color: var(--dark-red);
}

.button-secondary:active {
  background-color: var(--special-red);
}

.button-light {
  color: var(--middle-grey);
  background-color: var(--white);
  border: 2px solid var(--basic-green);
}

.button-light:hover {
  border-color: var(--basic-grey);
}

.button-light:active {
  color: var(--basic-greylight);
  border-color: var(--basic-greylight);
}

/*Header*/

.main-header-top {
  padding: 14px 0;
  background-color: var(--light-grey-background);
}

.main-header-top-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.main-header-top-info {
  max-width: 525px;
  margin: 0 auto 0 0;
  font-style: italic;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-red);
}

.main-header-top-address {
  max-width: 290px;
  margin-right: 32px;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--middle-grey);
}

.main-header-top-phone {
  display: block;
  max-width: 200px;
  padding-left: 23px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 2px;
  text-decoration: none;
  color: var(--dark-grey);
  background-image: url(../images/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 16px 16px;
}

.main-header-top-phone:hover {
  opacity: 0.7;
}

.main-header-top-phone:focus {
  opacity: 0.5;
}

.main-header-middle {
  max-height: 45px;
  background-color: var(--dark-grey);
}

.main-header-middle-wrapper {
  display: flex;
}

.logo {
  display: block;
  width: 220px;
  height: 50px;
  padding: 12px 57px 20px 55px;
  background-color: var(--basic-red);
  box-shadow: inset 0 -5px 0 var(--black-opacity-0-24);
}

.logo:hover {
  background-color: var(--dark-red);
}

.logo:active {
  background-color: var(--special-red);
}

.main-header-middle-search {
  position: relative;
}

.search-input {
  min-width: 717px;
  height: 100%;
  max-height: 45px;
  padding: 9px 53px;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  background-color: transparent;
  border: none;
}

.search-input::placeholder {
  color: var(--white);
}

.search-input:not(:placeholder-shown),
.search-input:focus {
  background-color: var(--basic-background);
}

.search-input:focus {
  outline: none;
}

.search-input:not(:placeholder-shown) ~ .cross-search {
  position: absolute;
  right: 17px;
  top: 50%;
  width: 12px;
  height: 12px;
  background-image: url(../images/cross-close-search.svg);
  transform: translateY(-50%);
}

.search-input-img {
  position: absolute;
  left: 21px;
  top: 50%;
  color: var(--white);
  opacity: 0.3;
  transform: translateY(-50%);
}

.search-input:not(:placeholder-shown) + .search-input-img,
.search-input:focus + .search-input-img {
  color: var(--grey-blackberry);
  opacity: 1;
}

.main-header-middle-wrapper {
  position: relative;
  max-height: 45px;
  margin-left: auto;
}

.main-header-middle-login {
  display: flex;
  align-items: center;
}

.main-header-middle-login-link {
  display: block;
  max-width: 100px;
  padding-left: 26px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--basic-background);
  background-image: url(../images/icon-login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-header-middle-login-link:hover {
  opacity: 0.7;
}

.main-header-middle-login-link:active {
  opacity: 0.5;
}

.main-header-middle-logout {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.main-header-middle-logout-link {
  display: block;
  padding-left: 25px;
  color: var(--basic-background);
  text-decoration: none;
  background-image: url(../images/icon-user.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.main-header-middle-logout-link:hover {
  opacity: 0.7;
}

.main-header-middle-logout-link:active {
  opacity: 0.5;
}

.main-header-middle-login-link-active {
  display: block;
  width: 16px;
  height: 16px;
  padding-left: 0;
  background-image: url(../images/icon-logout.svg);
  background-repeat: no-repeat;
}

.main-header-bottom {
  background-color: var(--basic-grey);
}

.main-header-bottom-wrapper {
  display: flex;
}

.main-menu {
  display: flex;
  flex-wrap: wrap;
  max-width: 845px;
  margin: 0 0 0 -25px;
  padding: 0;
  list-style: none;
}

.main-menu-item {
  min-height: 70px;
}

.main-menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 25px;
  color: var(--white);
  text-decoration: none;
}

.main-menu-link:hover {
  color: var(--basic-greylight);
  background-color: var(--middle-grey);
}

.main-menu-link:active {
  text-shadow: 1px 0 var(--white);
  color: var(--white);
  background-color: var(--middle-grey);
}

.user-menu-wrapper {
  display: flex;
  flex-shrink: 0;
  max-width: 315px;
  margin-left: auto;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.amount {
  display: none;
}

.user-menu-link {
  display: block;
  opacity: 0.6;
}

.user-menu-item:not(:last-child) {
  margin-right: 25px;
}

.order-button {
  margin-left: 25px;
  align-self: center;
  padding: 11px 12px;
  text-align: center;
  border-radius: 4px;
}

/*Popover*/

.popover {
  position: absolute;
  top: 12px;
  right: 0;
  display: none;
  width: 360px;
  padding: 22px 29px 35px 31px;
  background-color: var(--white);
  box-shadow: 0 8px 20px var(--black-opacity-0-15);
  border-radius: 2px;
}

.popover-profile {
  padding-bottom: 33px;
}

.main-header-middle-login-link:hover + .popover-login,
.popover-login:hover,
.popover-login:focus-within {
  display: block;
}

.main-header-middle-logout-link:hover + .popover-profile,
.popover-profile:hover,
.popover-profile:focus-within {
  display: block;
}

.popover-title {
  margin: 0 0 43px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--black);
  text-transform: uppercase;
}

.popover-profile-title {
  margin-bottom: 39px;
}

.button-popover-close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 20px;
  height: 20px;
  background-image: url(../images/icon-close.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border:none;
  cursor: pointer;
}

.button-popover-close:hover {
  opacity: 0.7;
}

.button-popover-close:active {
  opacity: 0.5;
}

.popover-login-input {
  min-width: 300px;
}

.popover-login-input:not(:last-of-type) {
  margin-bottom: 7px;
}

.popover-login-input:last-of-type {
  margin-bottom: 12px;
}

.popover-login-link-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5px;
  margin-bottom: 38px;
}

.control.popover-login-control {
  padding-left: 30px;
}

.popover-login-link {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: var(--black);
  text-decoration: none;
}

.popover-login-link:hover {
  opacity: 0.7;
}

.popover-login-link:active {
  opacity: 0.5;
}

.popover-login-buttons-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5px;
}

.popover-login-button {
  padding-left: 44px;
  background-image: url(../images/icon-login.svg);
  background-repeat: no-repeat;
  background-position: 24px 50%;
}

.popover-login-button-reg {
  display: block;
  text-decoration: none;
  text-align: center;
}

.popover-profile-link {
  display: block;
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-grey);
}

.popover-profile-link:hover {
  opacity: 0.7;
}

.popover-profile-link:active {
  opacity: 0.5;
}

.popover-profile-logout {
  display: block;
  max-width: 145px;
  text-align: center;
  text-decoration: none;
}


/*Checkbox, radio*/

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
}

.control-input:hover + .control-mark {
  opacity: 0.6;
}

.control-input:active + .control-mark {
  opacity: 0.3;
}

.control-input[type="checkbox"] + .control-mark {
  background-image: url(../images/checkbox.svg);
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url(../images/checkbox-checked.svg);
}


.control-input[type="radio"] + .control-mark {
  width: 22px;
  height: 22px;
  border: 2px solid var(--basic-grey);
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: var(--basic-grey);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  content: "";
}

.control-label {
  display: block;
  margin-bottom: 22px;
  font-size: 14px;
  line-height: 18px;
  color: var(--black);
  cursor: pointer;
}

.control-input:disabled ~ .control-label {
  opacity: 0.4;
  pointer-events: none;
}

.control-input:disabled + .control-mark {
  opacity: 0.2;
  pointer-events: none;
}
